# Lake build output
/build
/lake-packages
/.lake

# Lean compiled artifacts
*.olean
*.ilean
*.c
*.cpp
*.o
*.obj
*.so
*.dll
*.dylib

# Editor files
*.swp
*.tmp
.vscode/
.idea/

# Unrealted Folders
Learning/
